/* ===== Backdrop (Warp ngoài) ===== */
.department-management-positions__backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
  box-sizing: border-box;
}

.department-management-positions_action{  
  display: flex;
  justify-content: flex-end;
}