<div class="unit-types">
  <div class="unit-types__header">
    <div class="header__group">
      <div class="header__search">
        <input type="text" placeholder="Tìm loại đơn vị..." />
      </div>
      <div class="header__add">
        <button (click)="toggleUnitTypeCreate()">
          <img src="/icons/add.svg" alt="Thêm" />
          Thêm
        </button>
      </div>
    </div>
    <div class="header__group header__group--block">
      <app-pagination [totalCount]="totalCount || 0" [pageOptions]="pageOptions" (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)" (orderChange)="onOrderChange($event)"></app-pagination>
    </div>
  </div>

  <div class="unit-types__main">
    @if (unitTypes.length > 0) {
    <table class="unit-types__table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên loại đơn vị</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (type of unitTypes; track type.id) {
        <tr class="unit-type-row">
          <td>{{ type.id }}</td>
          <td [title]="type.description" class="type-name-cell">
            {{ type.typeName }}
          </td>

          <td class="row-actions">
            <div class="actions-menu">
              <button class="menu-button" (click)="toggleMenu(type.id)">⋮</button>

              @if (selectedMenuId === type.id) {
              <div class="dropdown-menu">
                <button (click)="onEditUnitType(type)">Sửa</button>
                <button (click)="onDeleteUnitType(type)">Xóa</button>
              </div>
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    } @else {
    <p>Chưa có dữ liệu loại đơn vị.</p>
    }
  </div>
</div>


<app-unit-type-create [isOpen]="isUnitTypeCreateOpen" (close)="isUnitTypeCreateOpen = false" (createdSuccessfully)="refetchUnitTypes()"></app-unit-type-create>
@if(unitTypeUpdateSelected){
  <app-unit-type-update [unitType]="unitTypeUpdateSelected" [isOpen]="isUnitTypeUpdateOpen " (close)="isUnitTypeUpdateOpen = false" (updatedSuccessfully)="refetchUnitTypes()"></app-unit-type-update>
}
<p-confirmdialog />
