<div class="layout">

  <aside class="layout__sidebar">
    <!-- Doanh nghiệp icon -->
    <div class="sidebar__brand" title="Trang chủ">
      <img src="/icons/tdmu.png" alt="Doanh nghiệp" />
    </div>
    
    <!-- Menu chính -->
    <div class="sidebar__menu">

      <!-- Quản lí người dùng -->
      <div class="sidebar__menu-item" [class.active]="isActive('/admin/users')" (click)="onGoToUsers()"
        title="Quản lí người dùng">
        <img src="/icons/person.svg" alt="" />
        <span class="sidebar__tooltip">Quản lí người dùng</span>
      </div>

      <!-- Quản lí cơ cấu tổ chức -->
      <div class="sidebar__menu-item" [class.active]="isActive('/admin/organizational')"
        (click)="onGoToOrganizational()" title="Quản lí cơ cấu tổ chức">
        <img src="/icons/hub.svg" alt="" />
        <span class="sidebar__tooltip">Quản lí cơ cấu tổ chức</span>
      </div>

      <div class="sidebar__menu-item" title="Danh mục" [class.active]="isActive('/admin/document-catalog')"
        (click)="onGoToDocumentCatalog()"
      >
        <img src="/icons/category.svg" alt="" />
        <span class="sidebar__tooltip">Danh mục</span>
      </div>

      <div class="sidebar__menu-item" title="Danh mục">
        <img src="/icons/grading.svg" alt="" />
        <span class="sidebar__tooltip">Xét duyệt</span>
      </div>

      <div class="sidebar__menu-item" title="Đánh số tự động">
        <img src="/icons/pin.svg" alt="" />
        <span class="sidebar__tooltip">Đánh số tự động</span>
      </div>
    </div>

    <!-- Cài đặt -->
    <div class="sidebar__footer">
      <div class="sidebar__menu-item" title="Đăng xuất" (click)="onLogout()">
        <img src="/icons/exit_to_app.svg" alt="" />
        <span class="sidebar__tooltip">Đăng xuất</span>
      </div>
    </div>
  </aside>


  <div class="layout__main">
    <header class="header">
      <h1 class="header__title">Quản trị hệ thống</h1>
      <div class="header__tools">

        <button (click)="toggleTheme()" class="tool-btn" title="Chuyển chế độ sáng/tối">
          <img [src]="isDarkMode ? '/icons/sun.svg' : '/icons/moon.svg'" alt="Đổi giao diện">
        </button>

        <button class="tool-btn">
          <img src="/icons/calendar.svg" alt="Lịch" title="Lịch">
        </button>
        <button class="tool-btn">
          <img src="/icons/bell.svg" alt="Thông báo" title="Thông báo">
        </button>
        <button class="tool-btn" (click)="toggleAppsLauncher()">
          <img src="/icons/apps.svg" alt="Ứng dụng" title="Ứng dụng">
        </button>

        <div class="avatar">
          @if(currentUser) {
          <img class="avatar__img" [src]="currentUser.avatarFileId ? avatarUrl : '/icons/account_circle.svg'"
            [alt]="currentUser.fullName" [title]="currentUser.fullName">
          }
        </div>
      </div>
    </header>

    <main class="main-content" [@routeAnimations]="getAnimationData()">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<app-apps-launcher [isOpen]="isAppsLauncherOpen" (close)="isAppsLauncherOpen = false"></app-apps-launcher>
